<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<script src="./javascripts/axios.min.js"></script>
<body>
    <h1> home- 服务端渲染页面 通过ejs 库 - 渲染ejs模板页 </h1>
    <% if(Code==0){%>
        <div><span>后端渲染页面语法=></span><%-mytext%></div>
        <br>
        <div>原文输出更加安全不会执行脚本或者解析html标签：<%=myhtml%></div>
        <div><%-myhtml%></div>
        <ul>
            <!-- <%# console.log(Data) %> -->
            <%var msg=Data.EmojiData.Emotions;
            for(let i in msg){%>
                <li class=""onclick='fileOnClick(<%=msg[i].title %>)'>
                    <%=msg[i].emoji%>--<%=msg[i].title %>
                </li>
            <%}%>

        </ul>
    <% } %>
    
</body>
<script>
        function fileOnClick(){
            alert(111)
        }
    </script>
</html>